.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: white;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.etch-box {
    display: flex;
    flex-wrap: wrap;
    height: 850px;
    width: 850px;
    background-color: white;
}

h1 {
    padding-top: -50%;
}


.box {
    height: 50px;
    width: 50px;
    border-color: aqua;
    background-color: blue;
}