body {
    display: flex;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: white;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.etch-box {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    background-color: white;
}

h1 {
    padding-left: 250px;
}


.colored {
    background-color: aqua;
}

.element-2 {
    display: flex;
}

.btns {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-right: 50px;
}

.btn {
    width: 200px;
    height: 50px;
    size: 25px;
}

.sample {
    height: 100px;
    width: 100px;
    background-color: aqua;
    align-self: center;
}